#map {
  height: 100%;
}

body, html {
  height: 100%;
  margin: 0;
  padding: 0;
}

dl {
  width: 100%;
  padding: 0;
  margin: 0;
  font-size: 1em;
}
dt {
  padding: 0.1em;
  margin: 0;
  font-weight: bold;
  color: black;
}
dd {
  padding: 0.1em;
  margin-left: 0.5em;
  color: darkred;
}

#legend {
  font-family: Arial, sans-serif;
  font-size: 1.3em;
  background: gray;
  padding: 1em;
  margin: 1em;
  max-width: 12em;
}
#legend h3 {
  font-weight: bold;
  text-align: center;
}
#legend img {
  vertical-align: middle;
}
